

.sidebar-toggle {
    font-size: 1.25rem !important;
    padding: 0.2 1.25rem !important;
}

.navbar {
    background: grey !important;
    box-shadow: 0 8px 32px 0 rgba(39, 40, 60, 0.37) !important;
    backdrop-filter: blur( 10px ) !important;
    -webkit-backdrop-filter: blur( 10px ) !important;
}

.colorstyle {

    color: black!important;
    font-style:italic;

}

.colorstyle1 {
    background: grey !important;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37) !important;
}

.colorstyle2 {
    background: grey !important;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37) !important;
}

